body,h1,h3,ul,button {
    padding: 0;
    margin: 0;
}

label,
h1,
h3,button {
    font-family: Ubuntu;
}

header {
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./media/Header.jpg);
}

.container {
    min-width: 1200px;
}

h1 {
    color: white;
}

ul {
    list-style: none;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head-logo {
    margin-top: 30px;
}

.head-title {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    margin-top: 105px;
}

.nav-bar {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.form-check {
    margin: 0;
}

.form-check-label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.filt-title {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.form-check-top{
    margin-top: 18px;
}
.filt{
    margin-top: 35px;
}
.filt-button{
    background-color: #7E5BC2;
    color: #fff;
    width: 168px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
[type=checkbox]{
    border: 1px solid #000000;
}